/* ==========================================================================
   Author's custom styles
   ========================================================================== */

p {
    color: #757575;
    margin-top: 6px;
    margin-bottom: 6px;
}

.centered {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

h1 {
    margin-bottom: 24px;
    margin-top: 24px;
}

h2 {
    margin-bottom: 18px;
    margin-top: 18px;
}

h3 {
    margin-bottom: 12px;
    margin-top: 12px;
}

i.internet {
    display: block;
    background-image: url(../assets/internet.svg);
    background-size: 18px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #5A4D99;
    color: #FFFFFF;
    width: 30px;
    height: 30px;
}

i.culture {
    display: inline;
    background-image: url(../assets/culture.svg);
    background-size: 18px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #BFCC36;
    color: #FFFFFF;
    width: 30px;
    height: 30px;
}

i.handshake {
    display: block;
    background-image: url(../assets/handshake.svg);
    background-size: 18px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #1A587A;
    color: #FFFFFF;
    width: 30px;
    height: 30px;
}

i.contact {
    display: block;
    width: 48px;
    height: 48px;
    background-size: 48px 48px;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    background-position: center center;
    background-repeat: no-repeat;
}

i.icon {
    display: block;
    background-size: 18px;
    background-position: center center;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
}

.icon.web-icon {
    background-image: url(../assets/web.svg);
}

.icon.linkedin-icon {
    background-image: url(../assets/in.svg);
}

.icon.search-icon {
    background-image: url(../assets/search.svg);
}

.searcharea {
    padding: 0;
    margin: 30px 0 0 0;
}

@media (min-width: 992px) {
    .searcharea {
        padding-bottom: 48px;
        padding-top: 48px;
        margin-top: 48px;
    }
}

.search {
    position: relative;
}

.search input {
    text-indent: 24px;
}

.search .search-icon {
    position: absolute;
    top: 12px;
    left: 12px;
}

.header {
    position: relative;
    height: 200px;
    margin-bottom: 71px;
}

.header-image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url(../assets/background-image.jpg);
    background-position: 50% 40%;
    background-repeat: no-repeat;
    background-size: 100%;
}

.header-icon {
    position: relative;
    top: 129px;
    left: 0px;
    background-image: url(../assets/logo.jpg);
    display: block;
    width: 142px;
    height: 142px;
    background-size: 142px 142px;
    -moz-border-radius: 71px;
    -webkit-border-radius: 71px;
    background-position: center center;
    background-repeat: no-repeat;

}

.lightgray {
    background-color: #f8f8f8;
}

.white-well {
    background-color: white;
    padding: 18px;
    margin-bottom: 18px;
}

.lorem-card {
    position: relative;
    height: 450px;
}

.lorem-card .top {
    position: absolute;
    top: 0;
    width: 100%;
    height: 350px;
    margin-bottom: 18px;
    overflow-y: auto;
}

.lorem-card .bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    margin-bottom: 18px;
}

.item-logo {
    position: relative;
    width: 80px;
    height: 80px;
    overflow: hidden;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.image1 {
    background-image: url(../assets/item-logo.png);
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: 100% 25%;
    filter: hue-rotate(140deg);
    position: relative;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
}

.image2 {
    background-image: url(../assets/item-logo.png);
    background-position: 100% 0%;
    background-repeat: no-repeat;
    background-size: 200%;
    position: absolute;
    width: 350px;
    height: 350px;
    top: 0px;
    left: -242px;
    transform: rotate(-25deg);
}

.image3 {
    background-image: url(../assets/item-logo.png);
    background-position: 75% 60%;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 160px;
    height: 160px;
    top: -39px;
    left: -126px;
    transform: rotate(-5deg);
}

.text-contrast {
    color: black;
}